<div
    class="max-w-screen-xl mx-auto p-4"
  >
<app-banner></app-banner>

<div class="grid grid-cols-2 lg:grid-cols-3 md:grid-cols-2 gap-4 m-4 items-center">
    <div>
        <app-akt-card title="IT Services"></app-akt-card>
    </div>
    <div>
        <app-akt-card title="HR and Facility Services" [img]="'hrservice.png'"></app-akt-card>
    </div>
    <div>
        <app-akt-card title="Finance Services" [img]="'financeservice.jpg'"></app-akt-card>
    </div>
</div> 
<app-overview-list></app-overview-list>
</div>
<app-footer></app-footer>
